<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
<body>

<div>
    <br/>
    <form th:method="patch" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="user-name-label">Username</label>
        <input th:field="*{username}" type="text" id="user-name-label">
        <br/>

        <label for="name-label">Name</label>
        <input th:field="*{name}" type="text" id="name-label">
        <br/>

        <label for="lastname-label">lastName</label>
        <input th:field="*{lastName}" type="text" id="lastname-label">
        <br/>

        <label for="age-label">Age</label>
        <input th:field="*{age}" type="number" id="age-label">
        <br/>

        <label for="pass-label">Age</label>
        <input th:field="*{password}" type="password" id="pass-label">
        <br/>

        <input type="submit" value="Обновить">
    </form>
</div>

</body>
</html>