<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER', 'ROLE_ADMIN')">
    This content is only shown to users and admins.
</div>

<p><a href="/admin/users">Список пользователей</a></p>
<p><a href="/admin/roles">Список ролей</a></p>
<div th:replace="footer :: logout"></div>
<div th:insert="footer :: copy"></div>
</body>
</html>